.app-header {
    background-color: #fff;
    min-width: 1000px;
    width: 100%;
    box-sizing: border-box;
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .08), 0 1px 2px 0 rgba(0, 0, 0, .12);
    position: relative;
    padding: 16px 32px;
}

.app-header-logo {
    display: block;
    font-family: Open Sans, sans-serif;
    line-height: 1.15;
    white-space: nowrap;
    background-repeat: no-repeat;
    cursor: pointer;
}

.app-header-logo-text {
    margin: 0;
    color: #4257b2;
}

.app-header-delimiter {
    flex: 1;
}

.app-header-repeat {
    cursor: pointer;
}

.app-header-user {
    position: relative;
    display: block;
}

.app-header-logout {
    cursor: pointer;
}

.app-header-element {
    margin-left: 24px;
}