.glossary-details-container {
    padding: 10px 20px;
}

.glossaries-details-control-container {
    max-width: 700px;
    padding-right: 16px;
    display: flex;
    flex-direction: row;
    height: 44px;
    background-color: #dcdcf0;
    border-radius: 6px 6px 0 0;
    align-items: center;
}

.glossaries-details-card-title {
    padding-right: 4px;
    font-size: 20px;
    font-weight: 400;
    color: #37383c;
    text-align: left;
    text-transform: uppercase;
}

.glossaries-details-card-delimiter {
    flex: 1;
}

.glossaries-details-control-icon-container {
    width: 24px;
    height: 24px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glossaries-details-card-container {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 700px;
    padding-left: 16px;
    border-bottom: 1px dotted;
    border-color: #d8dee2;
}

.glossaries-details-card-word-container {
    color: #333;
    font-size: 15px;
    /*cursor: pointer;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    margin-right: 40px;
    flex: 1;
    height: 60px;
    display: flex;
    align-items: center;
}

.glossaries-details-card-word-value {
    color: #3f69a9;
    font-weight: 500;

}

.glossaries-details-card-delimiter {
    flex: 1
}

.glossaries-details-card-button-container {
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.glossaries-details-card-button-remove {
    visibility: hidden;
    cursor: pointer;
}

.glossaries-details-card-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 16px;
    cursor: pointer;
}

.glossaries-details-title-edit-container {
    visibility: hidden;
}

.glossaries-details-card-title-container:hover .glossaries-details-title-edit-container {
    visibility: visible;
}

.glossaries-details-card-container:hover .glossaries-details-card-button-remove {
    visibility: visible;
}

.glossaries-details-progress-container {
    background-color: #dcdcf0;
    max-width: 700px;
    padding: 4px 8px;
    display: flex;
}

.glossaries-details-progress {
    margin: 0;
    flex: 1;
}

.glossaries-details-progress[value] {
    -webkit-appearance: none;

    width: 250px;
    height: 8px;
    border-radius: 4px;
}

.glossaries-details-progress[value]::-webkit-progress-bar {
    background-color: rgba(255, 0, 0, 0.67);
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-color: #28c38a;

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.glossaries-details-title-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.glossaries-details-title-input {
    width: 160px;
    height: 24px;
    line-height: normal;
    box-sizing: border-box;
    border: 1px solid;
    border-color: #979797 #DDD #DEDEDE;
    border-radius: 2px;
    background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#FDFDFD));
    font-size: 13px;
    box-shadow: 0 1px #D5D5D5 inset;
    font-family: "Open Sans", OpenSans, Arial, sans-serif;
    color: #333;
    outline: none;
}

.glossaries-details-title-save-button {
    margin: 0 0 0 5px;
    height: 24px;
    background: #F5F5F5 linear-gradient(to bottom, #f5f5f5, #E7E7E7);
    box-shadow: 0 1px #FFF inset, 1px 0 #F7F7F7 inset, -1px 0 #F7F7F7 inset, 0 -1px #F1F1F1 inset, 0 1px #E6E6E6;
    color: #333;
    text-shadow: 0 1px #F0F0F0;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #DDD;
    border-bottom-color: #AAA;
    border-radius: 2px 2px 3px 3px;
    text-align: center;

}